[Unit]
Description=Refresh Golden ISOs

[Service]
Type=oneshot
User=github
WorkingDirectory=/home/github/harvester-dev
ExecStart=-/home/github/harvester-dev/artifacts/download-golden-iso.sh master "/home/github/harvester-dev/artifacts/isos/golden"
ExecStart=-/home/github/harvester-dev/artifacts/download-golden-iso.sh v1.9 "/home/github/harvester-dev/artifacts/isos/golden"
